.vscode/
__pycache__/
.ipynb_checkpoints/


!Successes/
Successes/*
!Successes/GoodResults/

Libs/__pycache__/
Figs/
*.txt
*.png
*.tar.xz

!Data/
Data/*
!Data/molecular_dynamics/
!Data/coords320.txt
!Data/cor_vel_for_b1b88.txt
!Data/fullcoords.txt
!Data/fullforce.txt
!Data/fullvel.txt


#git push origin -u pca_dev