.vscode/
__pycache__/
.ipynb_checkpoints/


!Successes/
Successes/*
!Successes/GoodResults/

Libs/__pycache__/
Figs/
*.txt
*.png
*.tar.xz

!Data/
Data/*
!Data/*.txt
!Data/dp_training_reworked/

#git push origin -u pca_dev