.vscode/
__pycache__/
.ipynb_checkpoints/


!Successes/
Successes/*
!Successes/GoodResults/

Libs/__pycache__/
Figs/
*.txt
*.png
*.tar.xz

!Data/
Data/*
!Data/dp_training_reworked/

!Data/distances_b1b45b88.txt
!Data/distances_b1b88.txt
Data/coords320.txt

#git push origin -u pca_dev